body {
    font-family: "Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}

#footer{
	text-align: center;
	color: #585858;
	font-size: 10px;
}

#footer a{
	color: #727272;
	text-decoration: none;
}

#footer p{
	margin: 2px auto;
}

