/* CSS Document */

html{
	background-image: url(/images/gradient.jpg);
	background-color: black;
}

#header{
	font-family: 微软雅黑, 黑体;
	width: 704px;
	height: 50px;
	margin: 0px auto 10px auto;
	color: white;
	padding-top: 10px;
	font-size: 35px;
	vertical-align: middle;
}

#header span{
	vertical-align: middle;
}

#real_menu{
	width: 720px;
	margin: 5px auto;
	position: relative;
}

.clear{
	clear: both;
}

#logo{
	background: url(../images/logo_500.png) no-repeat bottom center;
	width: 520px;
	height: 520px;
}

ul{
	list-style: none;
	padding: 0;
}

.menu>li, #info{
	width: 160px;
	height: 160px;
}

.menu>li, #logo, #info{
	background-repeat: no-repeat;
	background-position: center center;
	margin-right: 12px;
	margin-bottom: 12px;
	float: left;
	border: 4px solid rgba(0,0,0,0);
	background-color: #003b97;
	transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    transition-property:  background, font-size, opacity, border;
    -moz-transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    -moz-transition-property: background, font-size, opacity, border;
    -webkit-transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    -webkit-transition-property: background, font-size, opacity, border;
    -o-transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
    -o-transition-property: background, font-size, opacity, border;
}

#logo{
	margin-bottom: 12px;
}

.menu>li a{
	display: none;
}

.menu>li:hover, #logo:hover{
	border: 4px gray solid;
	background-color: #000;
	border-color: rgba(100,100,100,0.8);
	padding: 0px;
	cursor: pointer;
}

li.home{
	background-image: url(../images/icon_home_160.png);
}
li.work{
	background-image: url(../images/icon_works_160.png);
}
li.blog{
	background-image: url(../images/icon_blog_160.png);
}
li.bbs{
	background-image: url(../images/icon_forums_160.png);
}
li.spengine{
	background-image: url(../images/icon_speshow_160.png);
}
li.about{
	background-image: url(../images/icon_about_160.png);
}
li.spg01 {
	background-image: url(../images/icon_spg01_160.png);
}
li.spg02 {
	background-image: url(../images/icon_sicily_160.png);
}

li.home:hover{
	background-color: #b91c47;
}
li.work:hover{
	background-color: #009900;
}
li.blog:hover{
	background-color: #5d3ab8;
}
li.bbs:hover{
	background-color: #db542d;
}
li.spengine:hover{
	background-color: #00AAAA;
}
li.about:hover{
	background-color: #AA00AA;
}
li.spg01:hover{
	background-color: #ecb4c8;
}
li.spg02:hover{
	background-color: #FFFFFF;
}

#info {
	color: white;
	font-family: 微软雅黑, 黑体;
	text-align: center;
	font-size: 30px;
	line-height: 150px;
	vertical-align: middle;
	float: right;
}

#back{
	display: none;
	vertical-align: middle;
	margin-right: 10px;
}
#back:hover{
	cursor: pointer;
}
