/* CSS Document */

html{
	background-image: url(/images/gradient.jpg);
}

.container{
	margin: 0 auto;
	padding: 0 20px;
	width: 1000px;
}

ul{
	list-style: none;
}

#header{
	position: relative;
	margin-top: 20px;
	z-index: 99;
}

#header #logo{
	padding: 10px;
	z-index: 99;
	margin-left: 30px;
}

#main{
	background: url(../images/sicily/bg_top.png) repeat-x;
	position: relative;
	border-top: 10px solid white;
	border-left: 10px solid white;
	margin-top: -64px;
	padding: 64px 0 10px 0;
	background-color: gray;
	background-color: rgba(255,255,255,0.2);
	font-family: 微软雅黑, 黑体;
	overflow: auto;
}

#menu{
	padding-top: 20px;
	width: 160px;
	float: left;
}

#menu li{
	color: #003B97;
	width: 70px;
	height: 20px;
	padding: 5px 40px;
	margin-bottom: 20px;
	background-color: white;
	transition: all 0.3s;
}

#menu li:hover{
	padding-left: 50px;
	width: 80px;
	background-color: #307BFF;
	color: #FFFFFF;
	cursor: pointer;
}

#menu a{	
	color: inherit;
	text-decoration: none;
}

#content{
	padding: 0 40px 20px 40px;
	color: white;
	float: left;
	width: 750px;
}

#content h1{
	margin-bottom: 20px;
}

#content p {
	margin-bottom: 16px;
}

#content ul {
	margin-bottom: 20px;
}

#content li{
	margin-left: 40px;
}

#content a{
	color: #60ABFF;
}

#sicily_bg{
	width: 720px;
	height: 550px;
	background: url("../images/sicily/sicily_bg.png") no-repeat;
	background-position: center center;
	margin: 0 0 0 16px;
	position: relative;
}

#sicily {
	position: absolute;
	top: 80px;
	left: 170px;
	width: 463px;
	height: 439px;
	background: url("../images/sicily.png") no-repeat;
	background-position: center center;
}

#text_box {
	position: absolute;
	width: 700px;
	text-align: center;
	top: 180px;
	line-height: 200px;
	vertical-align: middle;
	text-shadow: 0px 0px 10px #666666;
}

.character, .scene {
	margin-bottom: 30px;
}

.character img, .scene img {
	border: 10px white solid;
}

.cd_box{
	overflow: auto;
}

.cd{
	width: 200px;
	height: 200px;
	margin-bottom: 30px;
	margin-left: 50px;
	float: left;
}

.cd1{
	background:url(../images/sicily/cd_01.png) no-repeat;
}

.cd2{
	background:url(../images/sicily/cd_02.png) no-repeat;
}

.cd:hover {
	background-position: 0px -200px;
	cursor: pointer;
}

.cd.playing {
	background-position: 0px -200px;
}

.cd.playing:hover {
	background-position: 0px -400px;
}

.cd_info{
	float: left;
	width: 160px;
	margin: 30px 0 0 80px;
}

#player{
	text-align:center;
	width: 0;
	height: 0;
	overflow: hidden;
}
