/* CSS Document */

.site{
	background: repeat-x repeat-y;
	width: 94%;
	min-width: 800px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	font-family: 微软雅黑, 黑体;
}

#header_spengine{
	/*background-image: url(../../images/spengine_blank60.png);*/
	background-image: url(../../images/logo_bg_spengine.png);
	background-repeat: no-repeat;
	height: 100px;
	width:100%;
	border-bottom: 2px #EEE solid;
	overflow: hidden;
}

#logo_spengine{
	width: 250px;
	height: 100px;
	margin-left: 8px;
}

#menu_spengine{
	margin-top: 70px;
	width:480px;
	float:right;
}

#menu{
	height: 27px !important;
	overflow: hidden !important;
}

#menu ul{
	margin:0;
	list-style: none;
}

#menu li{
	height: 20px !important;
	width: 80px !important;
	float: left;
	text-align: center;
}

div#menu li.back .left{
	height: 20px !important;
}

#menu a{
	color: #DDDDDD;
	text-decoration: none;
	line-height: 20px !important;
	height: 30px !important;
}

#menu a:hover{
	color: white;
	text-shadow: 0px 0px 20px rgba(200,200,255,0.8);
}

#main_spengine{
	background-image: url(../../images/spengine_blank60.png);
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
	border-bottom: #CCC solid 1px;		
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
}

#main_bg{
	background-image: url(../../images/spengine_bg_left.png);
	background-repeat: repeat-y;
}

#left{
	float: left;
	width:140px;
	background: repeat-x repeat-y;
	padding: 40px 30px;
}

#left>ul{
	list-style-type: square;
	color: #6981BE;
	margin-left: 18px;
	font-size: 0.9em;
}

#left>ul a{
	text-decoration: none;
	color: #023A9E;
}

#left>ul a:hover{
	color: #C3C;
	text-decoration: underline;
}

#left>ul>li{
	margin-bottom: 5px;
}

#left>ul ul{
	margin-top: 2px;
	list-style-type: circle;
	padding-left: 16px;
	font-size: 0.9em;
	font-weight: normal;
}

#left>ul ul li{
	margin-bottom: 3px;
}

#left>ul ul ul{
	margin-top: 2px;
	list-style-type: disc;
	padding-left: 16px;
	font-size: 0.9em;
	font-weight: normal;
}

#left>ul ul ul ul{
    margin-top: 2px;
    list-style-type: circle;
    padding-left: 16px;
    font-size: 1em;
    font-weight: normal;
}

#left .cur_path{
    font-weight: bold;
}

#logo{
	
}

#right{
	background-image:url(../../images/spengine_blank60.png);
	min-width: 598px;
	min-height: 600px;
	margin-left: 200px;
	border-left: 2px solid #8F8F8F;
	padding-bottom: 100px;
}

#article{
	padding: 30px 30px;
	font-size: 0.9em;
	color: #21164B;
}

#article .image{
	text-align:center;
	margin: 25px 0;
}

#article em{
	color: #C00;
	font-weight: bold;
	font-style: normal;
}

#article ul{
	margin-left: 20px;
}

#article hr{
	margin-top: 40px;
	border-bottom: 1px solid;
}

#article a{
	color: #0E78FD;
}

#article a:hover{
	color: #F39;
}

#article>p{
	margin: 15px 0;
}

#article h2{
	font-size: 2.5em;
	padding-bottom: 10px;
}

#article h3{
	font-size: 1.5em;
	padding-top: 30px;
	padding-bottom: 10px;
}

#article h4{
	font-size: 1.2em;
	padding-top: 15px;
}

#article img{	
	border: #FFFFFF 0.3em solid;	
	border-radius: 0.4em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
	display:block;
	margin:auto;
}

#article .video{	
	border: #FFFFFF 0.3em solid;	
	border-radius: 0.4em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

#article .video_box{
	text-align: center;
	margin-bottom: 40px;
}

#article table{
	border: #445588 1px solid;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
	background-image:url(../../images/spengine_blank40.png);
	width: 100%;
	border-collapse: collapse;
}

#article table td,#article table th{
	padding: 3px 6px;
	border: 1px solid #445588;
	margin: 0;
}

.syntaxhighlighter{
	margin: 0px !important;
	padding: 3px;
}

.syntaxhighlighter{
	border: #FFFFFF 1px solid;	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.8);
}

.Q{
	font-weight: bold;
}

.A{
	padding-bottom: 15px;
}
#uyan_like img{
	border: none;
	box-shadow: none;
}
