<ul class="nav sidebar">
	<li><a href="index.html">SpeShow.JS 简介</a>
	</li>
	<li>
		<a href="docs.html">文档</a>
		<ul class="nav">
			<li>
				<a href="quick_start.html">快速入门</a>
				<ul class="nav">
					<li><a href="#hello_world">Hello World</a>
					</li>
					<li><a href="#hello_component">Hello 组件</a>
					</li>
					<li><a href="#hello_file">Hello 脚本文件</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="deployment.html">部署 SpeShow</a>
				<ul class="nav">
					<li><a href="#init">入口文件</a>
					</li>
					<li><a href="#debug">调试模式</a>
					</li>
					<li><a href="#config">配置文件</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="javascript.html">JavaScript</a>
				<ul class="nav">
					<li><a href="#node.js">Node.js</a>
					</li>
					<li><a href="#speshow_mod">SpeShow 模块</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="speshow_module.html">SpeShow 模块</a>
				<ul class="nav">
					<li><a href="#jump">脚本文件引入及跳转</a>
					</li>
					<li><a href="#queue_func">队列函数</a>
					</li>
					<li><a href="#variable_type">系统变量与状态变量</a>
					</li>
					<li><a href="#state_saving">状态保存</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="script_type.html">脚本分类</a>
				<ul class="nav">
					<li><a href="#normal_script">一般脚本</a>
					</li>
					<li><a href="#queued_script">队列脚本</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="window.html">窗口</a>
				<ul class="nav">
					<li><a href="#title">标题</a>
					</li>
					<li><a href="#resize">窗口大小</a>
					</li>
					<li><a href="#cursor">指针</a>
					</li>
					<li><a href="#fps">FPS</a>
					</li>
					<li><a href="#onexit">退出事件</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="screen.html">屏幕</a>
				<ul class="nav">
					<li><a href="screen.html#focus">聚焦</a>
					</li>
					<li><a href="screen.html#root">根组件</a>
					</li>
					<li><a href="screen.html#capture">截图</a>
					</li>
					<li><a href="screen.html#create_component">创建组件</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="component.html">组件</a>
				<ul class="nav">
					<li><a href="component.html#normal">基本组件</a>
					</li>
					<li><a href="component.html#animation">动画</a>
					</li>
					<li><a href="component.html#effect">特效</a>
					</li>
					<li><a href="component.html#picturebox">图片框</a>
					</li>
					<li><a href="component.html#scroll">滚动框（列表）</a>
					</li>
					<li><a href="component.html#textbox">文字框</a>
					</li>
					<li><a href="component.html#dialogbox">AVG对话框</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="event.html">事件响应</a>
				<ul class="nav">
					<li><a href="event.html">事件传递</a>
					</li>
					<li><a href="event.html">事件处理</a>
					</li>
					<li><a href="event.html">事件类型</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="multimedia.html">多媒体</a>
				<ul class="nav">
					<li><a href="multimedia.html#sound">音频</a>
					</li>
					<li><a href="multimedia.html#video">视频</a>
					</li>
					<li><a href="multimedia.html#sprite">精灵动画</a>
					</li>
					<li><a href="multimedia.html#particle">粒子系统</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="advanced.html">进阶指南</a>
				<ul class="nav">
					<li><a href="advanced.html#customize_effect">自定义特效</a>
					</li>
					<li><a href="advanced.html#packing">打包资源文件</a>
					</li>
					<li><a href="advanced.html#customize_packing">修改打包加密方法</a>
					</li>
				</ul>
			</li>
			<li><a href="reference.html">索引</a>
			</li>
			<li><a href="sample.html">示例</a>
			</li>
		</ul>
	</li>
	<li> <a href="show.html">演示</a>
	</li>
	<li><a href="license.html">使用许可</a>
	</li>
	<li>
		<a href="download.html">下载</a>
		<ul class="nav">
			<li><a href="download.html">SpeShow</a>
			</li>
			<li><a href="pack_guider.html">SSPackGuider</a>
			</li>
			<li><a href="editor.html">编辑器推荐</a>
			</li>
		</ul>
	</li>
	<li> <a href="donate.html">捐赠</a>
	</li>
	<li> <a href="FAQ.html">FAQ</a>
	</li>
	<li class="warn-new-doc">
		<a href="/spengine/">
			旧版文档(KS版本)
		</a>
	</li>
</ul>
