<ul class="nav sidebar">
	<li><a href="index.html">SpeShow.JS 简介</a>
	</li>
	<li><a href="license.html">使用许可</a>
	</li>
	<li>
		<a href="download.html">下载</a>
		<ul class="nav">
			<li><a href="download.html">SpeShow</a>
			</li>
			<li><a href="pack_guider.html">SSPackGuider</a>
			</li>
			<li><a href="editor.html">编辑器推荐</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="tutorial.html">教程</a>
		<ul class="nav">
			<li><a href="tutorial_deploy.html">部署 SpeShow</a>
			</li>
			<li>
				<a href="tutorial_kscript.html">JavaScript</a>
				<ul class="nav">
					<li><a href="#tutorial_kscript_comment">Node.js</a>
					</li>
					<li><a href="#tutorial_kscript_include">include 函数</a>
					</li>
					<li><a href="#tutorial_kscript_speshow">JavaScript 与 SpeShow</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="tutorial_standard.html">基本指令</a>
				<ul class="nav">
					<li><a href="tutorial_standard_screen.html">屏幕</a>
					</li>
					<li><a href="tutorial_standard_component.html">基本UI组件</a>
					</li>
					<li><a href="tutorial_standard_textbox.html">文字框</a>
					</li>
					<li><a href="tutorial_standard_picturebox.html">图片框</a>
					</li>
					<li><a href="tutorial_standard_list.html">列表</a>
					</li>
					<li><a href="tutorial_standard_wait.html">等待</a>
					</li>
					<li><a href="tutorial_standard_exit.html">退出</a>
					</li>
					<li><a href="tutorial_standard_sample.html">示例</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="tutorial_advanced.html">进阶指令</a>
				<ul class="nav">
					<li><a href="tutorial_advanced_switch.html">切换</a>
					</li>
					<li><a href="tutorial_advanced_sound.html">声音</a>
					</li>
					<li><a href="tutorial_advanced_video.html">视频</a>
					</li>
					<li><a href="tutorial_advanced_effect.html">特效</a>
					</li>
					<li><a href="tutorial_advanced_animation.html">动画</a>
					</li>
					<li><a href="tutorial_advanced_particlesystem.html">粒子系统</a>
					</li>
					<li><a href="tutorial_advanced_capture.html">截图</a>
					</li>
					<li><a href="tutorial_advanced_save.html">存档</a>
					</li>
					<li><a href="tutorial_advanced_skip.html">跳过</a>
					</li>
					<li><a href="tutorial_advanced_texteffect.html">文字特效</a>
					</li>
					<li><a href="tutorial_advanced_dialogbox.html">AVG专用组件：对话框</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="tutorial_senior.html">高级指令</a>
				<ul class="nav">
					<li><a href="tutorial_senior_pre.html">预执行脚本</a>
					</li>
					<li><a href="tutorial_senior_inner.html">内部脚本</a>
					</li>
					<li><a href="tutorial_senior_listener.html">事件响应脚本</a>
					</li>
					<li><a href="tutorial_senior_jump.html">跳转脚本</a>
					</li>
				</ul>
			</li>
			<li><a href="tutorial_professional.html">高级用途</a>
			</li>
			<li><a href="tutorial_commands.html">指令索引</a>
			</li>
			<li><a href="tutorial_sample.html">示例</a>
			</li>
		</ul>
	</li>
	<li> <a href="show.html">演示</a>
	</li>
	<li> <a href="donate.html">捐赠</a>
	</li>
	<li> <a href="QA.html">FAQ</a>
	</li>
	<li class="warn-new-doc">
		<a href="/spengine/">
			旧版文档(KS版本)
		</a>
	</li>
</ul>
