<div id="header_spengine">
	<div id="menu_spengine">
	<div id="menu">
        <div id="real_menu">
            <ul class="menu"> 
            	<li><a href="index.html"><span>SpeShow</span></a></li>
            	<li><a href="http://bbs.sprabbit.com/"><span>社团论坛</span></a></li>
                <li><a href="../index.html"><span>社团主页</span></a></li>
                <li><a href="http://blog.sprabbit.com/"><span>社团博客</span></a></li>
                <li><a href="http://blog.sprabbit.com/blog/categories/works/"><span>社团作品</span></a></li>               
                <li><a href="http://blog.sprabbit.com/about/"><span>联系我们</span></a></li>
            </ul>
        </div>
	</div>
    </div>

	<div id="logo_spengine">
    	<a href="index.html"><img src="../images/Logo_SpeShow_Long_S.png" alt="LOGO" /></a>
    </div> 
</div>