<div id="header">
	<img id="back" src="images/icon_back_40.png" title="返回" alt="back" /><span id="title">SPRABBIT</span>
</div>

<div id="nav">
    <div id="real_menu">
    	<div id="logo">
    	</div>
        <ul class="menu">
            <li class="home" title="社團主頁"><a href="/"><span>社團主頁</span></a></li>
            <li class="work" title="社團作品"><a href="sicily/"><span>社團作品</span></a>
            <div>
            	<ul>
            		<li class="spg01" title="顫抖吧廢怯少女"><a href="http://blog.sprabbit.com/blog/2012/03/25/shake-magical-girls/">廢怯少女</a></li>
                	<li class="spg02" title="Sicily - 零與一的幻想"><a href="sicily/">Sicily</a></li>
            	</ul>
            </div>
            </li>
            <li class="blog" title="社團博客"><a href="http://blog.sprabbit.com/circle/"><span>社團博客</span></a></li>
            <li class="bbs" title="社團論壇"><a href="http://bbs.sprabbit.com/">社團論壇</a></li>
            <li class="spengine" title="SpeShow"><a href="speshow/"><span>SpeShow</span></a></li>
            <li class="about" title="聯繫我們"><a href="http://blog.sprabbit.com/about/"><span>聯繫我們</span></a></li>
        </ul>
        <div id="info">
        </div>
        <div class="clear">
        </div>
    </div>
</div>