<div id="overlay" class="png-fix">
    <div id="header">
    	<div id="sicily"></div>
        <div id="header_content">        	
        	<div id="text_box">				
            </div>
            <div id="sicily_logo">
           		<img src='{{ root_url }}/images/sicily_logo.png' alt='sicily'></img>      
        	</div>
        </div>
    </div>
</div>

<div id="menu">
    <div id="real_menu">
        <ul class="menu">      
            <li><a href="index.html"><span>企劃主頁</span></a></li>
            <li><a href="story.html"><span>故事背景</span></a></li>
            <li><a href="character.html"><span>人物介紹</span></a></li>
            <li><a href="cg.html"><span>場景CG</span></a></li>
            <li><a href="music.html"><span>音樂試聽</span></a></li>
            <li><a href="download.html"><span>遊戲下載</span></a></li>
            <li><a href="staff.html"><span>製作人員</span></a></li>
            <li class="last"><a href="{{ root_url }}"><span>社團主頁</span></a></li>
        </ul>
    </div>
</div>