<div id="menu">
    <ul>
        <li><a href="index.html"><span>企划主页</span></a></li>
        <li><a href="story.html"><span>故事背景</span></a></li>
        <li><a href="character.html"><span>人物介绍</span></a></li>
        <li><a href="cg.html"><span>场景CG</span></a></li>
        <li><a href="music.html"><span>音乐试听</span></a></li>
        <li><a href="download.html"><span>游戏下载</span></a></li>
        <li><a href="staff.html"><span>制作人员</span></a></li>
        <li class="last"><a href="{{ root_url }}/"><span>社团主页</span></a></li>
    </ul>
</div>
