---
layout: bootstrap
keywords: Node.js,SpeShow,SpeShow.js,galgame引擎,AVG引擎,同人游戏,同人社团,游戏引擎,Galgame,AVG,SPRABBIT,SPENGINE
description: SpeShow.js是一个基于DirectX的Node.js可视化程序构建方案、AVG引擎、图文演示程序脚本引擎
icon: favicon.png
css:
 - shCore.css
 - shThemeFadeToGrey.css
 - spengine.css
js:
 - shCore.js
 - shBrushXML.js
 - shBrushJScript.js
 - highlight.js
 - spengine/nav_collapse.js
---

<body data-spy="scroll" data-target=".navbar">
	<div class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="/speshow/">
					<img src="/images/logo_speshow_long_xs.png">
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/speshow/">简介</a>
					</li>
					<li><a href="/speshow/docs.html">文档</a>
					</li>
					<li><a href="/speshow/about.html">关于</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div data-spy="affix" data-offset-top="70" class="navbar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
					{% include speshow/left.html %}
				</div>
			</div>
			<div class="col-md-9 content-main" role="main">
				{{ content }}
			</div>	
		</div>
	</div>
	<!-- /.container -->

	<div role="contentinfo" class="footer">
		<div class="container copyright">
			<p>Copyright &copy; 2011-2014 <a href="http://www.sprabbit.com/">SPRABBIT</a></p>
			<p>Designed by <a href="http://kennethj.lofter.com/">Kenneth.J</a>. Built with <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
		</div>
	</div>
</body>
